body{
    width: 50%;
    margin: 0 auto;
}
.box{
    
    width: 460px;
    border-radius: 30px;
}
.container{
    background: url(https://cdn.pixabay.com/photo/2019/06/07/12/27/texture-4258163_640.jpg);
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    width: 460px;
}
.container h1{
    font-family: 'New Rocker', cursive;
}
.container h4{
    font-family: 'Gochi Hand', cursive;
}
button{
    cursor: pointer;
    background: linear-gradient(rgb(4, 1, 51),rgb(57, 77, 134));
    color: white;
    border-radius: 20px;
    margin-left: 10%;
    height: 50px;
    width: 40px;
}
button:hover{
    cursor: pointer;
    color: aqua;
}
#inputField{
    background: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v996-008.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=cd9b0934d51e4428a42dfcd6317d57d0);
    border-radius: 30px;
    margin-bottom: 10px;
    text-align: center;
    width: 260px;
    height: 40px;
    border: 1px dashed black;
    outline: none;
}
#addToDo{
    height: 50px;
    width: 50px;
    background-color: white;
    border: 2px solid rgb(255, 5, 5);
}
.paragraph-styling{
    background: url(https://i.pinimg.com/736x/fd/fb/ba/fdfbba317609890b779fd14cd3ac3823.jpg);
    font-size: 20px;
    color: white;
    font-style: italic;
    font-weight: 600;
    border-radius: 13px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin: 5px;
    cursor: progress    ;
}
.to-dos {
    margin-top: 25px;
}